
    {extend name="public/base" /}
    <!--导航结束-->
    {block name="body"}

    <div class="container-fluid">
        <div id="test">

        </div>

        <div id="more">
            <a class="page"  href="javascript:;">获取更多</a>
        </div>
    </div>

    {/block}
{block name="script"}
    <script>

function getMore(url,p) {

    $.get(url,'p='+p,function(e){
        var data=JSON.parse(e);
        var str='';
        if(data.notice.length!=0){
            $.each(data.notice,function(index){
                notice=data.notice[index];

                var img='';
                if(notice.url){
                    img=notice.url.path;
                }
                str+='<div class="row noticeList">'+
                    '<a href="/home/notice/detail?id='+notice.id+'">'+
                    '<div class="col-xs-2">'
                    +'<img class="noticeImg" src="'+img+'" />'
                    +'</div>'
                    +'<div class="col-xs-10">'
                    +'<p class="title">'+notice['title']+'</p>'
                    +'<p class="intro">'+notice.description+'</p>'
                    +'<p class="info">浏览: '+notice.view+' <span class="pull-right">'+notice.create_time+'</span> </p>'
                    +'</div>'
                    +'</a>'
                    +'</div>'
            });
            $('.page').attr('p',data.p);
            $("#test").append(str);
        }else{
            $("#more").text('没有更多了')
        }



    });
}

        var url='/home/notice/more';

        var  p=1;
        getMore(url,p);


        $("#more").on('click',".page",function(){

            var url='/home/notice/more';
            var p=$(this).attr('p');
            var str='';
            getMore(url,p);
        });


    </script>

{/block}
