{extend name="public/base" /}
<!--导航结束-->
{block name="body"}

<div class="container-fluid">
    <div id="test"></div>

    <div id="more"></div>
</div>

{/block}
{block name="script"}
<script>

    function getMore(url) {
        $.get(url, function (e) {
            var data = JSON.parse(e);
            var str = '';
            if (data.notice.length != 0) {
                $.each(data.notice, function (index) {
                    notice = data.notice[index];
                    var img = '';
                    if (notice.url) {
                        img = notice.url.path;
                    }
                    str += '<div class="row noticeList">' +
                        '<a href="/home/article/detail?id=' + notice.id + '">' +
                        '<div class="col-xs-2">'
                        + '<img class="noticeImg" src="' + img + '" />'
                        + '</div>'
                        + '<div class="col-xs-10">'
                        + '<p class="title">' + notice['title'] + '</p>'
                        + '<p class="intro">' + notice.description + '</p>'
                        + '<p class="info">浏览: ' + notice.view + ' <span class="pull-right">' + notice.create_time + '</span> </p>'
                        + '</div>'
                        + '</a>'
                        + '</div>'
                });
                $("#test").append(str);
                $("#more").html('<a class="page" url="' + data.url + '" href="javascript:;">获取更多</a>');
            } else {
                $(".page").text('没有更多了哦')
            }

        });
    }

    var url ="{:url('article/ajaxlists',array('category'=>$category->id,'p'=>1))}";

    getMore(url);

    $("#more").on('click', ".page", function () {

        var murl = $(this).attr('url');

        getMore(murl);
    });
</script>

{/block}
